<div class="sidebar">
  <div class="sidebar-inner d-flex flex-column">
    <div class="px-4 py-5"><a href="index.html"><img src="img/logo.svg" alt="" width="90"></a></div>
    <div class="sidebar-menu-holder flex-grow-1">
      <ul class="sidebar-menu list-unstyled">
        <li class="mb-2 pb-1">
          <!-- Link-->
          <a class="sidebar-link h6 text-uppercase letter-spacing-2 fw-bold text-sm active" href="/">Home</a>
        </li>
        <li class="mb-2 pb-1">
          <!-- Link-->
          <a class="sidebar-link h6 text-uppercase letter-spacing-2 fw-bold text-sm" href="/recipes/desserts">Desserts</a>
        </li>
        <li class="mb-2 pb-1">
          <!-- Link-->
          <a class="sidebar-link h6 text-uppercase letter-spacing-2 fw-bold text-sm" href="/recipes/desserts/ябълков-сладкиш-с-орехи">Detail</a>
        </li>
        <li class="mb-2 pb-1">
          <!-- Link-->
          <a class="sidebar-link h6 text-uppercase letter-spacing-2 fw-bold text-sm" href="/about">About</a>
        </li>
      </ul>
    </div>

    {{ partial "shared/sidebar-social.html" . }}
  </div>
</div>
