{{ define "main" }}
<main id="main">

    {{ partial "navigation/sidebar.html" . }}

    <div class="page-holder">
        <!--  Navbar-->
        <div class="px-4 d-block d-lg-none">
            {{ partial "navigation/navbar-header.html" . }}
        </div>

        <!--  Content-->
        <div class="px-4 py-5">
            <div class="container-fluid">
                <h2>{{ .Title }}</h2>
                <h3>layout: {{ .Type }} {{ .Page.Kind }}</h3>

                <section>
                    <h4>Category:</h4>
                    <ul class="">
                        {{ range .Params.categories }}
                        <li>
                            <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <h4>Tags:</h4>
                    <ul class="">
                        {{ range .Params.tags }}
                        <li>
                            <a href="/tags/{{ . | urlize }}">#{{ . }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <hr />
                <p>{{ .Content }}</p>
            </div>
        </div>

        <!-- Footer-->
        {{ partial "footer.html" . }}
    </div>

</main>
{{ end }}
