{{ define "main" }}
<main id="main">

    {{ partial "navigation/sidebar.html" . }}

    <div class="page-holder">
        <!--  Navbar-->
        <div class="px-4 d-block d-lg-none">
            {{ partial "navigation/navbar-header.html" . }}
        </div>

        <!--  Content-->
        <div class="px-4 py-5">
            <div class="container-fluid">
                <header>
                    <h2>{{ .Title }}</h2>
                </header>

                <section class="row gy-4 gx-5 masonry-wrapper">
                    {{ range .Pages }}
                    <div class="col-lg-4 col-md-6 grid-item">
                        {{ partial "recipes/list-item-summary.html" . }}
                    </div>
                    {{ end }}
                </section>
            </div>
        </div>

        <!-- Footer-->
        {{ partial "footer.html" . }}
    </div>

</main>
{{ end }}
