<div class="container">
    <div class="row pt-60">
        <div class="col-lg-4 col-sm-6">
            <div class="single-footer-widget">
                <h6 class="text-uppercase mb-20">Top Product</h6>
                <ul class="footer-nav">
                    <li><a href="/recipes/breakfast">Закуска</a></li>
                    <li><a href="/recipes/soups">Супи</a></li>
                    <li><a href="/recipes/desserts">Десерти</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-footer-widget">
                <h6 class="text-uppercase mb-20">Navigation</h6>
                <ul class="footer-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/generic">Generic page</a></li>
                    <li><a href="/elements">Elements</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-footer-widget">
                <h6 class="text-uppercase mb-20">Quick About</h6>
                <p>
                    Lorem ipsum dolor sit amet, consecteturadipisicin gelit, sed do eiusmod tempor incididunt.
                </p>
                <p>
                    +00 012 6325 98 6542 <br>
                    support@colorlib.com
                </p>
                <div class="footer-social d-flex align-items-center">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
</div>
