<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light px-0">
    <button class="navbar-toggler navbar-toggler-end text-sm text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="svg-icon svg-icon-heavy svg-icon-sm text-dark">
        <use xlink:href="#menu-hamburger-1"> </use>
      </svg>
    </button><a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="img/logo.svg" alt="" width="50"></a>
  </nav>
</header>
