<div class="sidebar">
  <div class="sidebar-inner d-flex flex-column">
    <div class="px-4 py-5">
      <a href="index.html"><img src="/img/logo.svg" alt="" width="90"></a>
    </div>
    <div class="sidebar-menu-holder flex-grow-1">
      <ul class="sidebar-menu list-unstyled">

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ $menuItemUrl := .URL | relLangURL }}
          {{ $pageUrl:= $currentPage.RelPermalink | relLangURL }}
          {{ $isActive := eq $menuItemUrl $pageUrl }}
          <li class="mb-2 pb-1">
            <!-- Link-->
            <a
              class="sidebar-link h6 text-uppercase letter-spacing-2 fw-bold text-sm {{ if $isActive }} active{{ end }}"
              href="{{ .URL }}"
              title="{{ .Title }}"
            >
              {{ .Name }}
            </a>
          </li>
        {{ end }}

      </ul>
    </div>

    {{ partial "navigation/sidebar-social.html" . }}
  </div>
</div>
