<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}

        <!-- Include all custom and vendor styles -->
        {{- partialCached "styles.html" . -}}
    </head>
    <body>
        <div class="oz-body-wrap">
            <header id="header" class="default-header">
                {{- partial "header.html" . -}}
            </header>

            <main>
                {{- block "main" . }}{{- end }}
            </main>

            <footer id="footer" class="section-gap">
                {{- partial "footer.html" . -}}
            </footer>
        </div>
    </body>

    <!-- Include vendor and theme custom javascript -->
    {{- partial "scripts.html" . -}}
</html>
