<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item" style="position: absolute; left: 0px; top: 5px;">
  <div class="box-masonry">

    <a href="http://localhost:1313/portfolio/work2/" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
      <img src="http://localhost:1313/img/portfolio/business-card-26.jpg" alt="" class="img-responsive">
    </a>

    <div class="box-masonry-text">
      <h4><a href="http://localhost:1313/portfolio/work2/">Name of the work 2</a></h4>
      <div class="box-masonry-description">
        <p></p>
        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
