{{ define "main" }}
<section class="recipe-section">

  <header>
    <div class="container">
      <div class="section-title">
        <h2>Posted {{ .Date.Format "January 2, 2006" }}</h2>
        <p>{{ .Title }}</p>
        <span class="tags">
          {{ range .Params.tags }}
            <a class="btn-menu .btn-book" href="/recipes/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
      </div>
    </div>
  </header>

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Галерия</h2>
        <p>Снимки от нашата кухня</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        {{ with .Resources.ByType "image" }}
          {{ range . }}
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="{{ .RelPermalink }}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{{ .RelPermalink }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>

    </div>
  </section>
  <!-- End Gallery Section -->

  <main>
    <div class="row">
      <section class="ingredients col-4">
        <ul class="unordered-list">
          {{ range .Params.ingredients }}
          <li>{{.}}</li>
          {{ end }}
        </ul>
      </section>

      <section class="directions col-8">
        <ul class="ordered-list">
          {{ range .Params.directions }}
          <li>
            <div>
              <h5>{{ .title }}</h5>
              <span>{{ .summary}}</span>
            </div>
          </li>
          {{ end }}
        </ul>
      </section>
    </div>

    <div class="row">
      {{ .Content }}
    </div>
  </main>

</section>

{{ end }}
