<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon-->
{{ $logo := .Site.Params.logo }}
<link href="{{ $logo.favicon }}" rel="icon">
<link href="img/fav.png" rel="shortcut icon" >
<link href="{{ $logo.appleTouchIcon }}" rel="apple-touch-icon">

<!-- Author Meta -->
<meta name="author" content="MikeSteiner">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">

<!-- Site Title -->
<title>{{ .Site.Title }}</title>

<meta name="descriptions" content="Cook for you" />
<meta name="keywords" content="Cook personal blog" />
