<!--Vendor js imports mounted from the node_modules-->
<!--{{ $jquery := resources.Get "vendor/js/jquery.min.js" }}-->
{{ $bootstrapBundle := resources.Get "vendor/js/bootstrap.bundle.min.js" }}
<!--{{ $owlCarousel := resources.Get "vendor/js/owl.carousel.min.js" -}}-->

<!--Vendor js imports direct resource inside assets-->
{{ $aos := resources.Get "vendor/aos/aos.js" -}}
{{ $glightbox := resources.Get "vendor/glightbox/js/glightbox.min.js" -}}
{{ $isotope := resources.Get "vendor/isotope-layout/isotope.pkgd.min.js" -}}
{{ $swiperBundle := resources.Get "vendor/swiper/swiper-bundle.min.js" -}}

<!--All vendor js bundle-->
{{ $allVendorsJsBundle := slice $bootstrapBundle $aos $glightbox $isotope $swiperBundle | resources.Concat "js/vendors_bundle.js" | resources.Minify | resources.Fingerprint "md5" }}

<!--Theme custom js imports-->
{{ $main := resources.Get "js/main.js" }}
{{ $mainJsBundle := slice $main | resources.Concat "js/main_bundle.js" | resources.Minify | resources.Fingerprint "md5" }}-->

<script src="{{ $allVendorsJsBundle.RelPermalink }}"></script>
<script src="{{ $mainJsBundle.RelPermalink }}"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
