{{ define "main" }}

  <section class="feature-area ">
    <div class="container border-top-feature">
      <div class="row">

        {{ range .Pages }}
        <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
          <div class="single-feature">
            <div class="icon">

              {{ with .Resources.ByType "image" }}
                {{ range first 1 . }}
                  <img class="d-flex mx-auto img-fluid" src="{{ .RelPermalink }}" alt="">
                {{ end }}
              {{ end }}

            </div>
            <div class="desc">
              <h2 class="text-uppercase"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <p>{{ .Summary }}</p>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </section>

{{ end }}

