<footer class="text-muted" style="background: #0d0d0d">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <h2 class="h4 text-white mb-4">За сайта</h2>
                        <p class="text-sm">Здравейте и добре дошли в моя личен блог! Този сайт е посветен на семейни рецепти, които са преминали през поколенията в нашето семейство. Тук ще откриете любими ястия, които са събирани и приготвяни през годините, както и нови експерименти. Всеки рецепта е спомен, който споделям с вас, за да можете и вие да създавате вкусни моменти със своите близки. Надявам се да намерите вдъхновение и да се насладите на тези рецепти, които правят всяко хранене специално.</p>
                        <ul class="list-unstyled text-sm mb-0 text-white">
                            <li class="mb-1"><a class="reset-anchor" href="#!"> <i class="fas text-muted me-2 fa-fw fa-globe-americas"></i>София, България, 1233</a></li>
                            <li class="mb-1"><a class="reset-anchor" href="#!"> <i class="fas text-muted me-2 fa-fw fa-envelope"></i>cook-for-you@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="h4 text-white mb-4">Follow me</h2>
                        <ul class="list-inline">
                            <div class="row text-white text-sm">
                                <div class="col-6">
                                    <ul class="list-unstyled">
                                        <li><a class="reset-anchor" href="https://www.facebook.com/profile.php?id=100011565941785" target="_blank"><i class="fab me-2 mb-2 fa-fw fa-facebook-f"></i>Facebook</a></li>
                                        <li><a class="reset-anchor" href="https://www.linkedin.com/in/alexander-toplijski-8b418b108/" target="_blank"><i class="fab me-2 mb-2 fa-fw fa-linkedin-in"></i>Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row text-white">
                        <div class="col-md-6 text-center text-md-start">
                            <p class="text-sm mb-3 mb-md-0"><span class="text-muted">&copy; All rights reserved - Alexander Topliyski</span></p>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <p class="text-sm mb-0">
                                <!-- You are completely free to use this template for your personal use or as a work for your client as long as you keep the link at the template footer pointing to our partner and us.-->
                                <!-- If you would prefer removing the backlink from the theme footer, please purchase the attribution-free license at the theme page at https://bootstrapious.com/attribution-free-license.                            -->
                                <span class="text-muted">Template designed by </span><a class="reset-anchor" href="https://bootstrapious.com/p/minimal-bootstrap-creative-portfolio">Bootstrapious</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
